*.txt
*logs*
*.log
*~
*.swp
*.pyc
images/
*gitgraph*
*colors*
**/plug.vim
ssh

./**/*.netrwhist
./**/*.add
./**/*.add.spl

nvim/.config/nvim/autoload
cmus/*
!cmus/.config/cmus/nerdz.theme
weechat/*
!weechat/.weechat/weechat.conf
