
Xcursor.theme: Numix
Xcursor.size: 16

#define base00 #282c34
#define base01 #353b45
#define base02 #3e4451
#define base03 #545862
#define base04 #565c64
#define base05 #abb2bf
#define base06 #b6bdca
#define base07 #c8ccd4
#define base08 #e06c75
#define base09 #d19a66
#define base0A #e5c07b
#define base0B #98c379
#define base0C #56b6c2
#define base0D #61afef
#define base0E #c678dd
#define base0F #be5046

*.foreground:   base05
#ifdef background_opacity
*.background:   [background_opacity]base00
#else
*.background:   base00
#endif
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base09
*.color10:      base01
*.color11:      base02
*.color12:      base04
*.color13:      base06
*.color14:      base0F
*.color15:      base07


URxvt.cursorColor: #a3be8c
URxvt.cursorBlink: 1


URxvt.url-launcher: usr/bin/chromium
URxvt.font: xft:Dina:size=8
URxvt.shading: 30
URxvt.scrollBar: false
URxvt.internalBorder: 30
URxvt.cursorUnderline : true
URxvt.geometry : 60x20
URxvt.thickness : 5




! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true

rofi.color-window:    #333842,        #333842,        #333842,             #333842,          base05
rofi.color-normal:    #333842,        #65737e,        #333842,             #333842,          #ffffff
rofi.color-active:    #333842,        #ffffff,        #333842,             #333842,          base05
rofi.color-urgent:    #333842,        #DDDDDD,        #333842,             #333842,          base05

rofi.fake-transparency: true
rofi.font: Dina 8
rofi.columns: 1
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.location: 0
rofi.padding: 12
rofi.fullscreen: false
rofi.width: 450
rofi.lines: 6

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  full
