#define base00 #1b243c
#define base01 #373e4d
#define base02 #595f6f
#define base03 #595f6f
#define base04 #C9CCD3
#define base05 #CDD3DE
#define base06 #D5DBE5
#define base07 #FFFFFF
#define base08 #6294e7
#define base09 #6294e7
#define base0A #ffc9c9
#define base0B #ff7575
#define base0C #ffc9c9
#define base0D #ffc9c9
#define base0E #ff7575
#define base0F #cc6666

*.foreground:   base05
#ifdef background_opacity
*.background:   [background_opacity]base00
#else
*.background:   base00
#endif
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base09
*.color10:      base01
*.color11:      base02
*.color12:      base04
*.color13:      base06
*.color14:      base0F
*.color15:      base07

URxvt.cursorBlink: 1


URxvt.url-launcher: usr/bin/chromium
URxvt.font: xft:tewi:size=11
#URxvt.boldFont: xft:tewi:size=12
URxvt.shading: 30
URxvt.scrollBar: false
URxvt.internalBorder: 24
URxvt.cursorUnderline : true
URxvt.geometry : 70x20
URxvt.thickness : 5




! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true

rofi.color-window:    base00,        base00,        base00,             base00,          base05
rofi.color-normal:    base00,        #c9c9c9,        base00,             base00,          base0B
rofi.color-active:    base00,        base0B,        base00,             base00,          base05
rofi.color-urgent:    base00,        base03,        base00,             base00,          base05

rofi.fake-transparency: true
rofi.font: tewi 9
rofi.columns: 1
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.location: 0
rofi.padding: 12
rofi.fullscreen: false
rofi.width: 350
rofi.lines: 6

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.autohint: false
Xft.lcdfilter: lcddefault
