! ------------------------------------------------------------------------------
!  Colors
! ------------------------------------------------------------------------------
!
!------------------------------------------------------------------------------

#define base00 #181818
#define base01 #282828
#define base02 #383838
#define base03 #585858
#define base04 #b8b8b8
#define base05 #d8d8d8
#define base06 #e8e8e8
#define base07 #f8f8f8
#define base08 #f07178
#define base09 #f78c6c
#define base0A #ffcb6b
#define base0B #c3e88d
#define base0C #89ddff
#define base0D #82aaff
#define base0E #c792ea
#define base0F #ff5370

!  URxvt
! ------------------------------------------------------------------------------

*foreground:   base05
*background:   base00
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07


URxvt.cursorBlink : 0
URxvt.font       :xft:Iosevka Term:size=12
URxvt.boldFont   :xft:Iosevka Term:size=12
URxvt.italicFont :xft:Iosevka Term:size=12

URxvt.lineSpace           : 0
URxvt.letterSpace         : 1
URxvt.scrollBar           : false
URxvt.internalBorder      : 44
URxvt.cursorUnderline     : false
URxvt.geometry            : 70x35
URxvt.thickness           : 5
URxvt.titleBar            : false
URxvt.intensityStyles     : false


URxvt.perl-ext-common : default,matcher
URxvt.url-launcher    : firefox
URxvt.matcher.button  : 1

! ------------------------------------------------------------------------------
! rofi
! ------------------------------------------------------------------------------
rofi.color-enabled: true

rofi.color-window:    base00 , base02 , base00 , base00 , base03
rofi.color-normal:    base00 , base03 , base00 , base00 , base07
rofi.color-active:    base03 , base0E , base00 , base0B , base00
rofi.color-urgent:    base00 , base03 , base00 , base00 , base03

rofi.fake-transparency : true
rofi.font              : Iosevka Term 12
rofi.columns           : 1
rofi.separator-style   : none
rofi.hide-scrollbar    : true
rofi.location          : 1
rofi.yoffset           : 48
rofi.xoffset           : 48
rofi.padding           : 32
rofi.fullscreen        : false
rofi.width             : 300
rofi.lines             : 6

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.rgba: rgb
Xft.dpi: 110

! ------------------------------------------------------------------------------
! 2bwm
! ------------------------------------------------------------------------------

twobwm.border_width: 1
twobwm.outer_border: 0
twobwm.focus_color: base02
twobwm.unfocus_color: base02
twobwm.fixed_color: base0D
twobwm.unkill_color: base08
twobwm.fixed_unkill_color: base0E
twobwm.outer_border_color: base00
twobwm.inverted_colors: false
